body {
    font-family: Arial, sans-serif;
}

#suggestions {
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1000;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div.active {
    background-color: #eee;
}

.custom-medicine-container input[type="number"], 
.custom-medicine-container input[type="text"], 
.custom-medicine-container button {
    margin-left: 10px;
}

.custom-medicine-container input[type="text"] {
    width: 100%;
}

.custom-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.custom-table th {
    background-color: #f4f4f4;
}

.custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-table tr:hover {
    background-color: #f1f1f1;
}

.custom-table-container td {
    padding: 5px;
}

.same-width {
    width: 100%; /* Ajusta este valor según sea necesario */
}

.row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-group-right {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.btn-group-right .btn {
    margin: 0;
}

.btnDelete {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
}

.btnDelete:hover {
    background-color: #ff1a1a;
}

.custom-fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 100%;
}

.custom-medicine-container {
    flex: 1 1 calc(25% - 20px); /* Ajusta el valor según sea necesario */
    min-width: 150px; /* Ajusta el valor según sea necesario */
}

@media (min-width: 768px) {
    .custom-medicine-container {
        flex: 1 1 calc(25% - 10px); /* Ajusta el valor según sea necesario */
        min-width: 200px; /* Ajusta el valor según sea necesario */
    }

    .custom-medicine-container input, 
    .custom-medicine-container button {
        width: 100%;
    }
}
